 {% load static %}



<!DOCTYPE html>
<html>
<head>
    <title>YEDDULA VENKATA RAMANA REDDY</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/my.jpg'%}">
                    <hr>
                    <h4>Yeddula Venkata Ramana Reddy</h4>
                    <h5>Undergraduate Student</h5>
                    <p>I love coding</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card card-body h-100 border-info">
                    <h4>Profile</h4>
                    <hr>
                    <p>I consider myself as a responsible and orderly person.productive and efficient,recently complete my 3rd year in engineering with full of training and education.</p>
                    <h4>CAREER OBJECTIVE</h4>
                    <hr>
                    <p>Looking for an entry-level position in a reputed company, where I can utilize my technical and interpersonal skills that can contribute company’s goals as well as to enhance my skills.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body border-info h-100">
                    <h5>Education</h5>
                    <hr>
                    <font color="MediumSeaGreen">SASTRA DEEMED UNIVERSITY (2020-2024)</font>
                    <p> ->Bachelors  Degree in Electronics and Communicaion Engineering </p>
                     <p>->cgpa-8.1035(untill 5th semster)</p>
                    <font color="MediumSeaGreen">SHASTRA JUNIOR COLLEGE (2018-2020)</font>
                        <p>->Graduated with 95%</p>
                    <font color="MediumSeaGreen">KESHAVA REDDY HIGH SCHOOL </font>
                    <p>->completed in 2018 and Graduated with cgpa 9.8.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body border-info h-100">
                    <h5>Technical Skills</h5>
                    <hr>
                    <p>->Python,Django,DSA,numpy,pandas,matplotlib,sql(basics) are the Technical skills </p>
                    <p>PS:Learning Data analytics</p>
                    <p>Apart from technical skills,i am a team player with communication skills,Interpersonal skills</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body border-info h-100">
                    <h5>Projects</h5>
                    <hr>
                    <p>->Grading of Rice Varities using Machine Learning By Image Processing</p>
                    <p>->Portfolio</p>
                    <h5>Area of Intrests</h5>
                    <hr>
                    <p>->Data Analytics,Travelling,Drawing</p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body border-info h-100">
                    <h5>EXTRA-CURRICULAR ACTIVITES</h5>
                    <hr>
                    <p>-> Member of DAKSH SEEE</p>
                    <h5>CERTIFICATES</h5>
                    <hr>
                    <p>->Certification for making the obstacle avoidance ,voice assistant bot</p>
                    <p>->Certification for completing the Matlab course</p>
                </div>
            </div>
        </div>
        <br>
    </div>

</body>
</html>